<!DOCTYPE html>

<title>New Consultant</title>

{% block body %}
    <h1>Create new Consultant</h1>

    {{ include('consultant/_form.html.twig') }}

    <a href="{{ path('app_consultant_index') }}">back to list</a>
{% endblock %}
